#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$Dsw6Ohcr.tKVXcW8$fij1/ZK8a0nQ0lcYTFHb7ZitSiPnmGYAinR2F5VaPDbA3XvZPRGPjM35PVOQ1.G0Ky2.o9W/uCAFTbUhWuqGK1
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=shashikant --password=$6$c7N8kGPdi2SXQP3X$58Pf3P71sYdbh3qQqIdD6u73AnzQQAA2TyxCMTvjxp3IftzOrEQU/l7I6zT7mz05kVahDOV7FG1iKuM6kCTwG1 --iscrypted --gecos="shashikant"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
